<?xml version="1.0" encoding="utf-8"?>
<manifest  android:targetSandboxVersion="1" xmlns:android="http://schemas.android.com/apk/res/android"
    package="aerofree.gg.com.gdtech">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <service
            android:name="aerofree.gg.com.gdtech.reactBack"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPlMaftgtqoDj7rSw-CffUYM6zpGx5rHE" />

        <activity
            android:name="aerofree.gg.com.gdtech.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aerofree.gg.com.gdtech.reactBackend"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>